[submodule "Software/android_app"]
	path = Software/android_app
	url = https://github.com/acord-robotics/stellarios
[submodule "Software/stellarios"]
	path = Software/stellarios
	url = https://github.com/acord-robotics/stellarios
